<div class="container">
    <mat-card>
        <mat-toolbar color="primary">Register</mat-toolbar>
        <form action="">
            <form class="login-form">
                <mat-form-field>
                    <mat-label>User Name</mat-label>
                    <input matInput placeholder="Place Your Name">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Place Your Email">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Place Your Correct Password">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" placeholder="Place Your Correct Password">
                </mat-form-field>
                <button mat-raised-button type="submit">Register</button>
                <div class="register-and-forget-link">
                    <a (click)="changeLoginFormValue()">Already Have an Account? Login</a>
                  
                </div>

            </form>

        </form>
    </mat-card>
</div>