
.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    // width: 100%;
    margin-top: 20px;
    padding: 30px;
    border-radius: 10px;
    gap: 10px;
    background: #F4F1EC;
}
.titles-and-sologan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.recent-account{
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    background: white;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.recent-login-accounts{
    display: flex;
    gap: 10px;
}